# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.idea/
.vscode/
.publish/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
android/local.properties

# iOS
ios/.symlinks/
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_assets/
ios/Flutter/.last_build_id
**/xcuserdata/
**/*.mode1v3
**/*.mode2v3
**/*.moved-aside
**/*.pbxuser
**/*.perspectivev3
**/*.xcuserstate
**/*.xcscmblueprint
**/*.xcscheme
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Local secrets
*.env
